body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    z-index: 2;
    width: 100%;
    justify-content: center;
    gap: 16px;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    background-color: rgba(0, 0, 0, .03);
    color: #000000;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 50em;
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
}

nav a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.about-container {
    width: 1080px;
    margin: auto;
}

.about-container hr {
    opacity: 1;
    background-color: #F2F2F2;
    border: none;
    height: 3px;
    width: 50%;
    margin: 24px auto;
    border-radius: 50em;
}

.about-container h1 {
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
}

.about-container h1::before {
    content: '';
    width: 50%;
    height: 3px;
    background-color: #000000;
    position: absolute;
    bottom: 2px;
    left: 0;
    border-radius: 10px;
}

.about-me-container {
    display: flex;
    align-items: left;
    justify-content: center;
    text-align: center;
    height: 100svh;
    flex-direction: column;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.about-me-image img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.about-me-text {
    font-size: 24px;
    line-height: 1.6;
    z-index: 2;
    position: relative;
    padding: 20px;
    align-self: center;
    text-align: center;
}

.about-me-text b {
    position: relative;
}

.about-me-text b::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: -4px;
    border-radius: 10px;
}

.about-me-section {
    margin: auto;
    background-color: rgba(0, 0, 0, .05);
    padding: 32px;
    border-radius: 8px;
}

.about-me-skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-me-skills-progress {
    background-color: #FFFFFF;
    border-radius: 50em;
    height: 20px;
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 4px;
    border: 3px solid #000000;
}

.about-me-skills-progress span {
    background-color: #000000;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50em;
}

.about-me-skills {
    margin: 24px 0;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.work-grid img {
    width: 100%;
    height: auto;
}

#work1 {
    grid-column: span 2;
    width: 80%;
    height: auto;
}

.work-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
}

.work-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.work-item img {
    width: 100%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    transition: 250ms ease-in-out all;
}

.work-item:hover img {
    transform: scale(1.3);
    filter: blur(3px);
}

.overlay-text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    opacity: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
    pointer-events: none;
    font-size: 20px;
}

.work-item:hover .overlay-text {
    opacity: 1;
}

.contact {
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

.contact-info a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #515151;
}
h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/** Modal **/
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    /* padding: 24px; */
}

.modal .modal-content {
    background-color: white;
    height: 100%;
    border-radius: 4px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    cursor: pointer;
    margin: 18px 24px;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-top: 3px;
}

.close-button:hover {
    box-shadow: 0 0 0 2px #000000 inset;
    background-color: transparent;
    color: #000000;
}

.modal-container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.modal-image {
    width: 45%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    background-color: #000000;
}

.modal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-image img:hover {
    object-fit: contain;
}

.modal-text {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.modal-text p,
.modal-text h1 {
    width: 100%;
    text-align: left;
}

/** Menu Hamburger **/
.hamburger {
    all: unset;
    display: none;
    font-size: 40px;
    cursor: pointer;
    margin: auto;
}

@media screen and (max-width: 1080px) {
    .about-container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    nav {
        bottom: 0;
        top: initial;
        padding: 0 16px;
    }

    .about-container {
        width: 100%;
    }

    .work-grid {
        grid-template-columns: 1fr;
    }

    .about-me-image img {
        aspect-ratio: 1/1;
        width: 240px !important;
        height: auto !important;
    }

    .about-me-section,
    .my-work-section,
    .about-me-skills {
        padding: 24px;
        margin: 0;
    }

    .about-container hr {
        margin: 0 auto;
    }

    .hamburger {
        display: block;
    }

    #navbar {
        display: none;
        text-align: center;
    }

    #navbar a {
        display: block;
        padding: 10px;
        text-decoration: none;
        margin-bottom: 16px;
    }
}